Repository tiangolo/uvicorn-gunicorn-docker, pull requests merged in 2024-03, with the labels that each got.

#193 🔥 Remove Alpine support
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
  docker-images/python3.7-alpine3.8.dockerfile
  docker-images/python3.8-alpine3.10.dockerfile
  docker-images/python3.9-alpine3.14.dockerfile
  pyproject.toml
  scripts/process_all.py
Labels: refactor

#195 ✨ Add support for multi-arch builds, including support for `arm64` (e.g. Mac M1)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  scripts/build-push-all.sh
  scripts/build-push.sh
  scripts/build.sh
  scripts/deploy.sh
  scripts/docker-login.sh
  scripts/test-all.sh
  scripts/test.sh
  scripts/trigger-children.sh
Labels: feature

#197 📝 Update test badge in `README.md`
  README.md
Labels: docs

#198 🔧 Update `latest-changes.yml`
  .github/workflows/latest-changes.yml
Labels: internal

#205 🔧 Add GitHub templates for discussions and issues, and security policy
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  SECURITY.md
Labels: internal

#192 👷 Avoid creating unnecessary `*.pyc` files with `PYTHONDONTWRITEBYTECODE=1` and ensure logs are printed immediately with `PYTHONUNBUFFERED=1`
  docker-images/python3.10-slim.dockerfile
  docker-images/python3.10.dockerfile
  docker-images/python3.11-slim.dockerfile
  docker-images/python3.11.dockerfile
  docker-images/python3.7.dockerfile
  docker-images/python3.8-slim.dockerfile
  docker-images/python3.8.dockerfile
  docker-images/python3.9-slim.dockerfile
  docker-images/python3.9.dockerfile
Labels: feature
